.widget-container {
  padding-left: 54px;
  padding-right: 60px;
  margin-top: 37px;

  .table-container {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 20px;

    .header-text {
      padding: 10px 0;
    }
  }

  .widget-header {
    padding-bottom: 14px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #2D2D2D;
  }

  .widget-subheader {
    margin-left: 24px;
    background-color: white;
    padding: 17px 0px;
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #8A8A8A;

  }

  .widget-body {
    margin-left: 24px;
    background-color: white;
    padding: 17px 0px;
    height: 100px;
    margin: 20px 0;


    .profile-pic {
      width: 46px;
      height: 46px;
      padding: 5px 0;
      border-radius: 100%;
    }

    .details-container {
      display: flex;
      padding-left: 20px;
      flex: 3;

      .detail-container {
        padding: 0 14px;
        display: grid;

        .name-container {
          font-family: sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: #2D2D2D;
        }

        .position-container {
          font-family: sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #8A8A8A;
        }

        .location-container {
          font-family: sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #8A8A8A;
        }
      }
    }

    .offer-details-container {
      display: flex;
      flex: 6;
      justify-content: center;

      .offer-detail {
        display: flex;
        position: relative;

        .status-popup {
          position: absolute;
          display: grid;
          top: 70px;
          background: #FFFFFF;
          border: 0.2px solid #D2D2D2;
          box-shadow: 0px 6px 10px rgb(188 188 188 / 36%);
          border-radius: 5px;
          z-index: 10;
          left: 2px;

          .status-popup-icon {
            padding: 24px;
            cursor: pointer;
          }

          .divider {
            margin-top: -14px;
            padding: 0 12px;
          }
        }

        .header-date {
          display: grid;
          padding: 6px 17px;

          .offer-header {
            font-family: sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: #8A8A8A;
            display: grid;
            text-align: center;

            .widget-icon {
              height: 0;
            }
          }



          .offer-date {
            font-family: sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: #2D2D2D;
            padding: 10px 0 0;
          }
        }
      }
    }

    .menu-icon {
      position: relative;
      right: -54px;
      cursor: pointer;
    }

    .menuPopup {
      width: 178px;
      display: grid;
      background: white;
      background: #FFFFFF;
      border: 0.2px solid #D2D2D2;
      box-shadow: 0px 6px 10px rgb(188 188 188 / 36%);
      border-radius: 5px;
      position: absolute;
      left: -190px;

      span {
        padding: 12px 20px;
        text-align: center;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 900;
        font-size: 13px;
        line-height: 18px;
        text-transform: uppercase;
        color: #8A8A8A;
        cursor: pointer;
      }
    }
  }

  .offer-references {
    display: flex;
    // flex: 5;
  }

  .numHead-container {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #8A8A8A;
    display: flex;
    position: relative;
  }

  .numbers-container {
    display: flex;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #2D2D2D;
  }

  .document-container {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #8A8A8A;
    padding: 20px;
    flex: 2;
    text-align: center;
  }

  .doc-title {
    position: relative;
    bottom: 2px;
  }
}


::ng-deep ng-image-slider {
  .image-popup {
    height: 56px !important
  }

  .ng-image-slider {
    height: unset !important;
    width: 414px;
  }

}

.image-slider {
  height: 83px;
  display: flex;
  justify-content: center;

  .left-icon {
    position: relative;
    top: 30px;
  }

  .right-icon {
    position: relative;
    top: 30px;
  }
}


.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}



.cdk-drag-preview {
  background: white;
  padding: 20px 10px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: none;
  align-items: center;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
